

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
}

.hcenter {
	text-align: center;
}



h1{
	color:#5c4300;
	padding: 0.5em;
}

h2, h3, h4, h5, h6 {
	color: rgb(255, 224, 183);
	background-color: #5c4300;
	padding: 0.5em;
}

img {
	text-align: center;
	vertical-align: middle;
}

.textmenu {
	text-align: center;
}

header {
	grid-column: 1 / span 3;
	/*background-color: lavender;*/
}

#survey {
	grid-column: 1;
	grid-row: 2;
	/*background-color: orange;*/
	padding: 5px;
}

#welcome {
	grid-column: 1;
	grid-row: 3;
	padding: 5px;
	/*background-color: lightgreen;*/
}

#services {
	grid-column: 2;
	grid-row: 2 / span 2;
	padding: 5px;

}

table, th, td {
  border:1px solid black;

  margin:0px;
}

 th {
		background-color:#C8BFC7;
		text-align:left;
}
.vig{
	background-color:#f2f2a2;
}



#location {
	grid-column: 3;
	grid-row: 2 / span 2;
	padding: 5px;
}


#gallery {
	grid-column: 1 / span 3;
	padding: 5px;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-container div {
	margin: 20px;
}
	
footer {
	grid-column: 1 /span 3;
	text-align: center;
}	

h2 {
	margin-top: 0;
}

h3 {
	background-color: #9e9e9e;
	color: white;
}



