nav li{
	text-decoration:none;
	color:white;
	background-color: #B6D4CE;
	list-style-type:none;

	border:2px solid black;
	text-align:center;
	margin:5px;
	padding: 10px 30px 10px 30px;
	border-radius:10px 0px 10px 0px;
}

nav ul{
	display:flex;
}
	

@media only screen and (max-width:599px) {
	nav ul{
		flex-direction:column;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
	nav ul{
		justify-content: center;
		flex-wrap:wrap;
	}		
}	

@media only screen and (min-width: 900px) {
	nav ul{
		justify-content: space-between;
		gap:30x;
	}
}	
